header {
    position: relative;
    h1 {
        z-index: -2;
        font-size: 20rem;
        height: 25rem;
        font-family: 'Anton', sans-serif;
        padding: $gt--sm 0;
        text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #D3FF6F, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000, -2px -2px 2px #000000;
    }

    .header__nav {
        a {
            padding: $gt--sm;
        }
        a:hover {
            font-weight: 500;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 64rem) {
    header {
        h1 {
            font-size: 13rem;
            line-height: 11rem;
        }
    }
}

@media screen and (max-width: 48rem) {
    header {
        h1 {
            font-size: 7rem;
            line-height: 5rem;
        }
    }
}

@media screen and (max-width: 48rem) {
    header {
        h1 {
            font-size: 5rem;
            padding: $gt 0;
            line-height: 3rem;
        }
    }
}