header {
    .header__nav {
        a {
            padding: $gt--sm;
        }
        a:hover {
            font-weight: 500;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 64rem) {
    header {
        h1 {
            font-size: 13rem;
            line-height: 11rem;
        }
    }
}

@media screen and (max-width: 48rem) {
    header {
        h1 {
            font-size: 7rem;
            line-height: 5rem;
        }
    }
}

@media screen and (max-width: 48rem) {
    header {
        h1 {
            font-size: 5rem;
            padding: $gt 0;
            line-height: 3rem;
        }
    }
}